.commandes{
box-sizing: border-box;
width: auto;
height: auto;
background: #FFFFFF;
border-radius: 8px;
}
.select-page{
    display: flex;
    gap:1em;

    margin-left: 10%;
}
.com1{
    padding: 2%;
}
.boxtabl-com{
    margin-left: -7%;
}
.titrePageCommande{
font-family:'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 40px;
color: #222222;
margin: 28px 0 0 28px ;
}
.filter-commande{
 margin: 28px 0 0 -5px;
}
.filter-commande .filter-commande-items{
    margin-left: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
    cursor: pointer;
}
.filter-commande .filter-commande-items1{
    margin-left: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    cursor: pointer;
}
.sous-line-array{
width: 723px ;
border: 1px solid #EDEDED;
margin-left: 48px;
}
.search-inpute{
box-sizing: border-box;
width: 519px;
height: 52px;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #B1B1B1;
margin: 28px 0 0 42px;
}
.array-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 28px 0 0 53px;
}
.array-header .header-item{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #222222;
margin-left: -3px;
}
.vendeur-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.articles{
    margin-left: 20px;
    display: flex;
    flex-direction: row;

}
.commande-data{
    display: flex;
    margin-bottom: 32px;
} 
.articles .icondown{
    margin-top: 7px;
    margin-left: 7px;
}
.name_libraire{
    width: 500%;
margin-left: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #222222;
margin-top: 2px;
}

.idcommande{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #222222;
margin-left: 46px;
}
.datecommande{
    margin-left:55px;;
}
.vendeur-data{
    margin-left: 42px;
}
.Statut{
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;    
    text-align: center;
    color: #2680C2; 
    background: #DCEEFB;
    border: 1px solid #4098D7;
    border-radius: 8px;
    width: 128px;
height: 32px;
    padding: 6px 0px 0px 0px;
    margin-left: 30px;
}
.annule{
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;    
    text-align: center;
    color: #BA2525; 
    background: #FFEEEE;
    border: 1px solid #D64545;
    border-radius: 8px;
    width: 128px;
height: 32px;
    padding: 6px 0px 0px 0px;
    margin-left: 30px;
}

.livre{
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;    
    text-align: center;
    color: #3F9142; 
    background: #E3F9E5;
    border: 1px solid #57AE5B;
    border-radius: 8px;
    width: 128px;
height: 32px;
    padding: 6px 0px 0px 0px;
    margin-left: 30px;
}
.Tarification{
    padding-left: 35px;;
}
.row214-comn{
    margin-left: 5%;
    display: flex;
    gap: 2em;
}
.Article-data{
    display: flex;
    flex-direction: column;
    width: 198px;
    margin-left: 153px;
    margin-top: 5px;
}
.Article-data-none{
    display: none;
}
.article{
    display: flex;
    flex-direction: row;
}
.Article-data .qte{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
color: #222222;
}
.Article-data img{
height: 24px;
width: 24px;
border-radius: 4px;

}
.Article-data p {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
color: #222222;
}
.pagination2{
    margin-top: -11px;
}
.nombre-page{
width: 40%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #222222;
}
.select-page{
    width: 60%;
}
.select-lable{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: right;
color: #222222;
margin: 17px 28px 0 0;
}
.Select-comn{
box-sizing: border-box;
width: 85px;
height: 52px;
background: #FFFFFF;
border: 1px solid #E2E5EA;
border-radius: 8px;
margin-right: 0px;
padding: 3%;
}
