
.Connexion{
  
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
color: #1A110A;
}

.content {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1A110A;
  
}
.adr{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1A110A;
  }
  
.group3
{
  margin-top: 1%;
}
.inp{
  width: 416px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #E2E5EA;
  
}
.oblie
{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
}

.icon{
color: #0570E6;

}
.gmail{
  background: #FFFFFF;
  border-style: none;
}
.facebook{
  background: #FFFFFF;
  border-style: none;
}

.textfacebook{
margin-top: 2.5%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #1A110A;
}



.main{
 padding: 5%;
margin-left: 6%;
}
.im{
  width: 650px;
height: 724px;
}


.textc{
  
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #1A110A;

}
.bnt{
background: #1A110A;
width: 416px;
height: 56px;
}