
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.group3
{
  margin-top: 1%;
}
.input{

  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
  gap: 2rem;
  width: 416px;
  height: 100px;
}
.adresse{
  margin-left: 3%;
}
.Contin{
  margin-top: -7%;
  
}
.groupbutton{
  display: flex;
  gap: 2rem;
  margin-top: -3%;
}
.icon{
  margin-left: -70%;
color: #0570E6;

}
.icongoogle
{
  width: 40%;
}
.gmail{
  background: #FFFFFF;
  width: 150px;
  height: 52px;
  border-style: none;
}
.facebook{
  background: #FFFFFF;
  width: 150px;
  height: 52px;
   border-style: none;
}
.icongoogle{
  margin-top: -7%;
}
.textfacebook{
  margin-top: 2.5%;
  
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #1A110A;
}
.checkboox{
  margin-top: 13%;
  margin-left: 5%;
  width:50%;
}
