
.recupere{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    
    color: #1A110A;
    }
    .group2{
        margin-top: 35%;
        margin-left: 0%;
    }
    .email-pass2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        
        color: #1A110A;
    }
    .inpt-pass2{
    
        width: 416px;
    height: 52px;
    
    background: #FFFFFF;
    border: 1px solid #E2E5EA;
    }
    .pass2{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    
    color: #FFFFFF;
    
    }
    
    .bnt-pass2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        
        color: #FFFFFF;
      }