

    .group2{
        margin-top: 35%;
        margin-left: 0%;
    }
    @media  (min-width: 1280px){

    
        .group2{
            margin-left: -5%;
        
        }
          }
    .email-pass2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        
        color: #1A110A;
    }
    .inpt-pass2{
    
        width: 416px;
    height: 52px;
    
    background: #FFFFFF;
    border: 1px solid #E2E5EA;
    }
    .pass2{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    
    color: #FFFFFF;
    
    }
    
    .bnt-pass2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        
        color: #222222;
      }


      @media (max-width: 667px) {
        .email-pass2{
            width: 179px;
height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #1A110A;
margin-left: 1%;
margin-top: -3%;

        }
        .recupere2{
            width: 328px;
            height: 90px;
            font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #222222;
        }
        .bntn2{
    
            Width:328px;
            Height:56px;
            }
        .inpt-pass2{
            margin-top: -60%;
            Width:328px;
            Height:52px;
        }
        .group2{
            margin-top: -110%;
            padding: 100%;
            margin-left: -105%;
    
        }

        }


