

    .group2{
        margin-top: 15%;
    }

.bntn2{
    width: 416px;
    height: 56px;
    border: none;
    cursor: pointer;
    background: #E9B949;
    border-radius: 8px;
}
    .email-pass2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        
        color: #1A110A;
    }
    .inpt-pass2{
    
        width: 416px;
    height: 52px;
    
    background: #FFFFFF;
    border: 1px solid #E2E5EA;
    }
    .pass2{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    
    color: #FFFFFF;
    
    }
    
    .bnt-pass2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        
        color: #222222;
      }


      @media (max-width: 876px) {
        .email-pass2{
            width: 179px;
height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #1A110A;
margin-left: 1%;
margin-top: -3%;

        }
   
        .bntn2{
    
            Width:328px;
            Height:56px;
            }
        .inpt-pass2{

            Width:328px;
            Height:52px;
        }
        .inpt-pass3{

            Width:328px;
            Height:52px;
        }
        .group2{
            margin-top: -90%;
            padding: 100%;
            margin-left: -120%;
    
        }

        }


