
.recupere3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #1A110A;
    }

    .group3-pass{
        margin-top: 16%;
     
    }
    @media (min-width: 1280px ) {
 
    .email-pass3{
        margin-top: -7%;
     
    }
}
    .email-pass3{
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #1A110A;
       
    }
    .pass3{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    
    color: #FFFFFF;
    
    }
    
    .bnt-pass3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        
        color: #222222;
      }
      .espas3{
        margin-top: 4%;
        margin-left: 2.5%;
      }
      
      .bntn1-s{

            width: 416px;
            height: 56px;
            background: #E9B949;
            border-radius: 8px;
            border: none;
            cursor: pointer;
          
      }
      @media (max-width: 876px) {

        .group3-pass{
            margin-top: -90%;
            padding: 100%;
            margin-left: -120%;
        }
        .bntn1-s{
            width: 328px;
            height: 52px;
           margin-top: 21%;
        }
        .espas3{
            margin-top:-18%
        }
        .email-pass3{
            Width:234px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
margin-top: -15%;
text-align: center;
color: #1A110A;
        }
      }