
.recupere3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #1A110A;
    }


    @media (min-width: 1280px ) {
    .group3{
        margin-top: 19%;
        margin-left:-4%;
    }
    .email-pass3{
        margin-top: -10%;
     
    }
}
    .email-pass3{
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #1A110A;
       
    }
    .inpt-pass3{
    
        width: 416px;
    height: 52px;
    
    background: #FFFFFF;
    border: 1px solid #E2E5EA;
    }
    .pass3{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    
    color: #FFFFFF;
    
    }
    
    .bnt-pass3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        
        color: #222222;
      }
      .espas3{
        margin-top: 4%;
        margin-left: 2.5%;
      }
      
      .bntn1-s{
       
            width: 416px;
            height: 56px;
            background: #E9B949;
            border-radius: 8px;
            border: none;
            cursor: pointer;
          
      }
      @media (max-width: 667px) {

        .group3{
            padding:90%;
            margin-top: -90%;
            margin-left: -93.8%;
        }
        .bntn1-s{
            width: 328px;
            height: 52px;
           
        }
        .espas3{
            margin-top:-18%
        }
        .email-pass3{
            
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
/* or 26px */

text-align: center;

color: #1A110A;
        }
      }