.Favorisp{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2%;
}
.txt1-Favorisp{
    color: var(--neutral-0, #222);
font-size: 32px;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: 48px;
}
.bloq-Favorisp{
 display: flex;
 flex-direction: column;
 gap: 2em;
    padding: 2%;
    width: auto;
height: auto;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}
.input-Favorisp{
    width: 500px;
height: 50px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--neutral-800, #E1E1E1);
background: var(--white, #FFF);
}
.row1-Favorisp{
    margin-top: 2%;
    display: flex;
    gap: 1em;
}
.select-Favorisp{
    padding-left: 1%;
    width: 138px;
height: 50px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--neutral-800, #E1E1E1);
background: var(--white, #FFF);
}
.grid-container01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
  
  }
  
  .grid-item {

    padding: 10px;
  }