.header{
    display: none;
    visibility: hidden;
 }
 .footer{
     display: none;
 }
 .txt-part{
    text-align: right;
 }
 .pro-sidebar .pro-menu {

    height: 732px;
}
.pro-sidebar.collapsed {
    width: 78px;
    min-width: 22px !important;
}