.contact{
    padding: 100px;
    margin-left: 3%;
   margin-top: 1%;
    overflow-x: hidden;
}
.txt2{

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    Width:829px;
    Height:100px;
    text-align: center;
    
    color: #222222;
    color: #222222;
    
}
.txt1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #9E9E9E;
}
.box{
    Width:    370px;
    Height:    215px;

    background: #F7D070;
    border-radius: 10px;
}
.contun_box{
    margin-top: 8%;
}
.local{
    margin-left: 43%;
    
}
.icon-cart{
margin-left: 8%;
margin-top: 3%;
}
.adr_con{
    font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-align: center;
margin-top: 2%;
margin-left: 3%;
color: #222222;
mix-blend-mode: normal;
}
.txt3{
    margin-top: 4%;
    margin-left: 3%;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #626262;

mix-blend-mode: normal;
opacity: 0.8;
}
.txt4{
    margin-top: 10%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #7C5E10;

mix-blend-mode: normal;
opacity: 0.8;
}
.arrow{
    margin-left: 69%;
    margin-top: -4.8%;
}
.txt3-box2{
    margin-top: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #626262;
    
    mix-blend-mode: normal;
    opacity: 0.8;
}
.txt4-box2{
    margin-top: 24%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #7C5E10;
    
    mix-blend-mode: normal;
    opacity: 0.8;
}
.arrow2{
    margin-left: 100%;
    margin-top: -13%;
}
.arrow3{
    margin-left: 95%;
    margin-top: -10%;
}
.group2-con{
    margin-left: -2%;
    padding-top: 50px;
    padding-bottom: 150px;
}
.imgcon{
    width: 671px;
    height: 633px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), 
url(../../assest/contact.png);

}
.con-nous{
    
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
color: #1A110A;
}

.inpu-con{
    width: 570px;
height: 52px;
    background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
}
.inpu-con2{
    width: 570px;
height: 156px;

background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
}
.bnt-con2{
    width: 570px;
height: 56px;
cursor: pointer;
border: none;
background: #E9B949;
border-radius: 8px;
}
.textbnt-con2{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-align: center;

color: #222222;

}
.group-con3{
    margin-top: 14%;
}
.txt6-con{
    margin-top: -17.7%;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #F7F7F7;
}
.icon-con2{
    display: flex;
	gap: 1rem;
    margin-left:38%;
    margin-top:2%;
}


@media (max-width: 867px) {
    .icon-con2{
        margin-left:27%;
        margin-top: 5%;
       }
    .group2-con{
      
        padding-bottom: 50px;
    }
   .icon-con0{
    
    margin-left: -100%;
   }
   .icon-con3{
    margin-left: 60%;
   }
   .icon-con4{
    margin-left: 230%;
   }
   .icon-con5{
    margin-left:350%;
   }
   .group-con3{
    margin-left: 0.5%;
    margin-top: 26%;
   }
    .contact{
        margin-left:-3%;
      padding:5%;
      margin-top: 15%;
    }
    .txt2{
        width: 328px;
height: 128px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* or 28px */

text-align: center;

color: #222222;
        
    }     
 
    .box{
        Width:328px;
        Height:215px;
        margin-left:5%;

    }
    .imgcon{
        width: 400px;
        height: 291px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
    .txt6-con{
        margin-left: 1%;
        margin-top: -32%;
    }
    .con-nous{
margin-top: -5%;
margin-left: 10%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
height: 40px;
color: #1A110A;
    }
 .inpu-con{
    margin-left: 10%;
    margin-top: 5%;
    width: 328px;
height: 52px;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
 }   
 .inpu-con2{
    width: 328px;
height: 156px;
margin-left: 10%;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px
 }
 .bnt-con2{
    width: 328px;
height: 56px;
margin-left: 10%;
margin-top: 7%;
background: #E9B949;
border-radius: 8px;
 }

}

.fa-facebook-f {
    background-color: #f2eeee;
    color: #030303;
  }
  .fa-twitter {
    background: #ffffff;
    color: #000000;
    Width: 11.4px;
   
  }
  .fa-instagram {
    background: #fefcfc;
    color: #040404;
  }
.fa-linkedin-in {
    background: #f8f6f6;
    color: #000000;
  }
  @media (min-width: 1280px ) {
    .contact{
  width: 200%;
     }
     .ex{
        margin-left: -58%;
     }
     .txt1{
        
        margin-left: -900%;
     }
     .txt2{
        margin-left: -77%;
     }
  }
  .f{
    padding: 0.55em;
    width: 20px;
    height: 20px;
    font-size: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa{
    padding: 5.5px;
    width:30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
  }
  