.password{
    padding: 7%;
    margin-left: 3%;
    overflow-x: hidden;
  
}

@media (min-width: 1280px ) {

    .password{
        width: 200%;
    }
    .recupere{
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
        color: #222222;
    }
    }
    .recupere{
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
        color: #222222;
    }
.recupere2{

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;

color: #1A110A;
}
.group1{
    margin-top: 35%;
    margin-left: 0%;
}
.email-pass{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1A110A;
}
.inpt-pass{

    width: 416px;
height: 52px;

background: #FFFFFF;
border: 1px solid #E2E5EA;
}
.pass{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;


color: #FFFFFF;

}

.bnt-pass{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
  }