


.txt-shop1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

color: #252525;

}
.shop{
    padding: 6%;
    margin-left: 6.5%;
}
.txt-shop2{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;

    color: #252525;
    margin-top: 30%;
}
.selec{
    width: 145.5px;
    height: 39px;
 
    background: #F2F2F2;
    border: 0.75px solid #999999;
    border-radius: 8px;
}
.gr-shop2{

    flex-direction: row;
display: flex;
gap: 1em;

}
.gr1{
    flex-direction: row;
    display: flex;
    gap: 59.8em;
    width: 300%;
}
@media (max-width: 1500px){
 
    .gr1{
     
        gap: 45.8em;
     
    }
    .shop{
        padding: 5%;
        margin-left: 6.5%;
    }
    
}
.grbnt{
    flex-direction: row;
    display: flex;
    gap: 1em;
}
.gr{
    flex-direction: column;
    display: flex;
    gap: 3em;
}
.input-shop{

    width: 210px;
    height: 39px;

    
    background: #FFFFFF;

    border-radius: 8px;
}

.gr3{
    flex-direction: row;
    display: flex;
    gap: 8em;
}
.col3{
    flex-direction: column;
    display: flex;
    gap: 2em; 
}
.lin{
    width: 210px;
    height: 0px;
    margin-left: 0%;
    border: 0.75px solid #E2E5EA;
    transform: rotate(180deg);
}
.txt4-shop{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */


color: #4B4B4B;
}

.pagination-shop{
   margin-left: 20%;
}
.bnt1-shop{
    width: 91px;
    height: 39px;
    background: #FFFFFF;
    border: 0.75px solid #C4CBCD;
    border-radius: 8px;
}
.gr5{
    flex-direction: column;
    display: flex;
    gap: 1em; 

}
.txt5{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */


/* black */

color: #252525;
}


