.txt9-about{
    width: 1003px;
    height: 30px;
  margin-left:8%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top: 8%;
    color: #222222;
}
.txt10-about{

    font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */
Width:276px;
Height:166px;
margin-left: -5%;
margin-top: -12%;
color: #7E7E7E;

}
.txt11-about{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
height: 22px;
color: #222222;
margin-left: 35%;
margin-top:5%;

}

.img-avt{

    mix-blend-mode: normal;
    Width :   98px;
    Height:    98px;
    margin-left:20%;
    margin-top: -25%;
}
.bg-cartd{
    padding-bottom: 5%;
    background: #F7F7F7;
    border-radius: 10px;
}