
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
	text-decoration: none;	
	
}
.iconcolor{
	margin-top: 50px;
	color: #FFFFFF;
}
.main-nav li {

	margin-top: 4%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}
.logo {
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom:1%;
	font-size: 1.45em;
}
.material-symbols-outlined{
margin-left: -35%;
}
.main-nav .material-symbols-outlined{
	margin-top: 29px;
	margin-left: -35px;

	color: #FFFFFF;
}
.main-nav li a {
	
	padding: 35px;
	color: #FFFFFF;
}
.conx{
	margin-top: -2%;
}
button p{
	font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
margin-top: 8.5%;
color: #1A110A;
}
.main-nav a:hover {
	color: #ffc125;
}
.header {
	padding-top:1%;
	padding-bottom:2%;
	
  height: 5000%;
  background: #222222;

}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
}
@media (max-width: 667px) {
	.main-nav li a,.butto-NAV{
		display: none;
	}
	.logo{
		margin-left: 40%;
	}
	
	.group .cartchop{
		margin-left: 85%;
		margin-top: -12%;
	}
	.group{
		margin-top: -15%;
	}

}
.icon-menu{	
	margin-left: -55%;
	margin-top: -23%;
	width: 50%;
	color: #FFFFFF;
}
.cartchop{
	margin-left: -10%;
	margin-top: 10%;
	margin-bottom:1%;
	font-size: 1.45em;
	
}
	
.link-page{
	color: #222222;
}

.butto-NAV{
	cursor: pointer;
	margin-top: 10%;	
width:162px;
Height:44px;
background: #E9B949;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.102437);
border-radius: 8px;

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
.group{
	display: flex;
	gap: 2rem;
	margin-left: -3%;
}
.groupli{
	display: flex;
	margin-left: -4%;
}