
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
	text-decoration: none;	
	
}
.iconcolor{
	margin-top: 50px;
	color: #FFFFFF;
}
.main-nav li {

	margin-top: 4%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}
.logo {
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom:1%;
	font-size: 1.45em;
}
.material-symbols-outlined{
margin-left: -35%;
}
.main-nav .material-symbols-outlined{
	margin-top: 29px;
	margin-left: -35px;

	color: #FFFFFF;
}
.main-nav li a {
	
	padding: 35px;
	color: #FFFFFF;
}
button p{
	font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
margin-top: 8.5%;
color: #1A110A;
}
.main-nav a:hover {
	color: #ffc125;
}
.header {
	padding-top:1%;
	padding-bottom:1%;
 
  height: 5000%;
  background: #1A110A;
}
@media (min-width: 769px) {
	.header,.material-symbols-outlined,
	.main-nav {
		display: flex;
	}
}
.button{
	margin-top: 7%;
	margin-right: -5%;
	background: #D4AF37;

}
button{
	width: 150px;
height:50px;
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
.group{
	display: flex;
	gap: 2rem;
	margin-left: -3%;
}
.groupli{
	display: flex;
	margin-left: -4%;
}