.txt1-cp20{
    color: #222;
font-size: 22px;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: 40px;

}
.input-pp{
    width: 519px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #E1E1E1;
border: none;
}
.pp2{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 3%;
    width: auto;
height: auto;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}
.row214-comn{
    
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nombre-page{
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    }
    .select-page{
        display: flex;
        gap:1em;
    }
    .select-lable{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #222222;
        margin: 17px 28px 0 0;
        }
        .txt1-cp{
            color: var(--neutral-0, #222);
        font-size: 32px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        }
                .Select-comn{
            box-sizing: border-box;
            width: 85px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #E2E5EA;
            border-radius: 8px;
            margin-right: 0px;
            padding: 3%;
            }
            .Statut{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--red-0, #610404);
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 116.667% */
                width: 88px;
                height: 32px;
                flex-shrink: 0;
                border-radius: 36px;
                background: var(--red-800, #FACDCD);
            }
            .livre{
 display: flex;
justify-content: center;
align-items: center;
width: 88px;
height: 32px;
flex-shrink: 0;
border-radius: 36px;
background: var(--green-800, #C1EAC5);
color: var(--green-0, #05400A);
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 14px;
            }
            .sous-line-array{
                width: auto ;
                border: 1px solid #EDEDED;
                margin-left: 48px;
                }
                .more-avis{

                    cursor: pointer;
                    transform: rotate(90deg);
                   
                 }
                 .menu-avis{
                   margin-left: -5%;
                   border-radius: 52px;
                 
                 }