
.ft-main .ft-main-item ul li a {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 15%;
  
}
.material-symbols-outlined{
    margin-top: -10%;
}
.footer {
    background: #1A110A;
   margin-bottom: -100%;
}
.iconn{
    display: flex;
	gap: 2rem;
	margin-left: -3%;
    color: #eee; 
}
.controle{
  
        margin-top: 10%;
        color: #eee;
      
}
.footer a {
    text-decoration: none;
    
    color: #eee;
}
a:hover {
    text-decoration: none;	
    color: #f7b00c;
}
.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.grid-containerr{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

    padding: 2px;
}
.ft-main {
    padding: 2.25rem 2.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 2.25rem;
    min-width:200px;
    
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main,.footer  {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main,.footer {
        justify-content: space-evenly;
    }
}
.text1{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.line{
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    Width:14400px;
Height:1px;
margin-top: -2%;
}
.Copyright{
    color: #bbb;
    margin-top: 2%;
margin-left: 11%;
height: 50px;

}
