.card{
    width: 256px;
    height: 322px;
    background: #ffffff;
    box-shadow: 0px 5px 30px rgba(207, 207, 207, 0.2);
    border-radius: 8px;
}
.txt-nommaktba{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
color: #626262;

}
.txt-sp{
margin-top: 7%;
margin-left: -6%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #999999;
}
.img-cardprod{
width: 180px;
height: 180px;
border-radius: 8px;
margin-top: -5%;
margin-left: 10%;
margin-bottom: 2%;
cursor: pointer;
}
.cont{
    padding : 0 5% 5% 5%;
    flex-direction: column;
    display: flex;
    gap: 2em; 
    position:relative;
}
.txt-card1{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 21px;
margin-top: -15%;
Width:250px;
Height:34px;
color: #252525;
}
.txt-card2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
margin-top: -9%;
    color: #222222;
    

}
.line-card{

    border: 1px solid #F7F7F7;

margin-bottom: 10%;
    transform: rotate(180deg);
}
.stars{
    margin-top: 6%;
    margin-left: -2%;
}
.grb-card22{
    flex-direction: row;
display: flex;
gap: 0.5em;

}
.grb-card2{
    flex-direction: row;
display: flex;
gap: 1em;
margin-top: -8%;
}
.grb-card{
 margin-top: -5%;
    flex-direction: row;
display: flex;
gap: 1em;
}

.bnt-card{
    background: linear-gradient(135deg, #515151 0%, #222222 100%);
    border-radius: 57.6px;
margin-left: 50%;
Width:36px;
Height:36px;
cursor: pointer;
margin-top: -11%;


}

.ajout-bnt{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #F5F5F7;
}
.ShoppingCart-card{
    margin-top: 20%;
    margin-left: 20%;
}
.back-cardprod{
    position: absolute;
    top:-2px;
    left: 5px;
    background: #F7D070;
    width: 75px;
   height: 20px;
   border-radius: 4px;
   padding:3px;
   }
