@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
#main {
    margin-left: 5%;
padding: 5%;
    display: flex;
  }
  
  #main div:nth-of-type(1) {flex-grow: 1;}
  #main div:nth-of-type(2) {flex-grow: 10;}
  .Sinscrire{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
color: #1A110A;
  }
  .flex-container {
   margin-top: -4%;
     flex-wrap: wrap;
  width: 100%;
  }
  
  .flex-container  p {
 
    margin-left: -1%;
    padding: 20px;
  }
  .Continue{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1A110A;
    

  }
  .button1{
    width: 150px;
height: 52px;
margin-left: 5%;
margin-top: -1%;
background: #FFFFFF;
border: 1px solid #E2E5EA;
  }

  .gmail,.Facebook {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1A110A;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: 10%;
  }
  .grid-item {
   
    margin-top: 10%;
    margin-left: -20%;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: 10%;
  }
  .grid-item3 {
    margin-top: 3%;
    
  }
  .grid-item0
  {
    margin-left: -5%;
  }
  .icon{
    margin-left: -70%;
 color: #0570E6;

  }
  .icongoogle
{
    width: 40%;
}
.groupbutton{
  display: flex;
  gap: 2rem;
  margin-top: -3%;
}
.gmail{
  background: #FFFFFF;
  width: 150px;
  height: 52px;
  border-style: none;
}
.facebook{
  background: #FFFFFF;
  width: 150px;
  height: 52px;
   border-style: none;
}
.icongoogle{
  margin-top: -7%;
}
.textfacebook{
  margin-top: 2.5%;
  
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #1A110A;
}
  .adresse{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
margin-top: -100%;
color: #1A110A;
  }
  .inputs{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
    gap: 1rem;
    
    flex-wrap: var(--var-flex-wrap);
    border: 1px solid var(--color-primary);
    background: var(--color-primary-x-light);
    width: 416px;
    height: 200px;
  }
 .checkboox{
    margin-top: 13%;
    margin-left: 5%;
    width:50%;
 }

 .discription{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #1A110A;
 }

 .button2{
    
    width: 416px;
    height: 56px;
    background: #1A110A;
    margin-top: 2%;
    margin-left: 5%;
 }

 .discription2{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-align: center;

color: #FFFFFF;

 }
 .discription3{
    margin-top: 3%;
    margin-left:6%;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #1A110A;
 }


