
  .gmail,.Facebook {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1A110A;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  
  }
  .grid-item {
   
    margin-top: 9%;
    margin-left: -15%;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 4%;
  }
  .icon{
    margin-left: -70%;
 color: #0570E6;
 margin-top: -7%;
  }
  .icongoogle
{  margin-top: -7%;
    width: 40%;
}

.gmail{

  width: 150px;
  height: 2px;
  border-style: none;
  margin-left: 5%;
  margin-top: 0.2%;
}
.facebook{

  width: 150px;
  height: 2px;
   border-style: none;
}

.textfacebook{
  margin-top: -1%;
  
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #1A110A;
}
  .adresse{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

margin-top: -100%;
color: #1A110A;
  }

 .discription{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #1A110A;
 }
 .signup{
  padding: 6%;
 margin-left: 3%;

 overflow-x: hidden;
 }
 .button2{
    
    width: 416px;
    height: 56px;
    background: #1A110A;
    margin-top: 2%;
    margin-left: 5%;
 }

 .discription2{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
text-align: center;

color: #FFFFFF;

 }
 .text3{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
margin-top: 1;
color: #1A110A;
 }
