
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

@media (min-width: 1280px ) {
  body, html  {overflow-x:hidden; width: 100%; height: 100%;}
}

@media (max-width: 667px) {
  body, html  {overflow-x:hidden;}
}

p,h1{
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
