
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
  overflow-x: hidden;
}
@media (max-width: 667px) {
  body, html  {overflow-x:hidden;}
}
p,h1{
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
