.favorie{
    width: 844px;
height: auto;

background: #FFFFFF;
border-radius: 8px;
}
.row-favo{
    flex-direction: row;
    display: flex;
    gap:20em;
    
}
.closebnt-favo{
    cursor: pointer;
    margin-top: 15%;
}
.lin-favo{
width: 788px;
height: 0px;
border: 1px solid #EDEDED;
margin-top: -27px;
}
.lin-favo2{
    width: 788px;
    height: 0px;
    border: 1px solid #EDEDED;
    margin-top: 10px;
}
.txt2-favo{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

color: #222222;

}
.col1-favo{
    flex-direction: column;
    display: flex;
    text-align: left;
    gap: 2.5em;
    
padding: 5%;
}
.txt1-favo{
    
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 40px;
color: #222222;
}
.img1-favo{
    Width:112px;
    Height:112px;
}
.row2-favo{
    flex-direction: row;
    display: flex;
    gap:0em;

}
.col2-favo{
    flex-direction: column;
    display: flex;
    gap: 0.5em;
    margin-top:5%;
}
.txt3-favo{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #222222;

}

.row4-favo{
    flex-direction: row;
    display: flex;
    gap: 1em;

}

.txtlink-favo{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
color: #626262;
margin-top: 2%;
}
.stars-favo{
    margin-top: -5%;
}
.row6-favo{
    flex-direction: row;
    display: flex;
    gap: 2em;

}
.prix-favo{
    
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
color: #222222;
margin-left: 58px;

}
.input-pro{
width: 400px;
height: 48px;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
}
.row7-favo{
    flex-direction: row;
    display: flex;
    gap: 15em;
    margin-top: 6%;
}
.shop-favo{
    background: #F7D070;
border-radius: 6px;
width: 32px;
height: 32px;

}
.shopcont-favo{
    margin-top: 15%;
    margin-left: 15%;
}
.scroll-container{
    width: 800px;
    height: 150px;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    height: 580px;
    margin-left: -15px;
    overflow-x: hidden;
    margin-top: -41px;
}
.scroll-container::-webkit-scrollbar {
    width: 12px;
}
.delete-favo{
width: 32px;
height: 32px;
background: #FFFFFF;
border: 1px solid #FACDCD;
border-radius: 6px;
margin-left: 13px;
}
.icondelete{
    margin-top: 5px;
    margin-left: 5px;
}
.prix-favo{
    width: 108px;
}